수익 기준

In [48]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

#from sklearn.preprocessing import StandardScaler

In [49]:
data = pd.read_csv('movie_rate.csv')

In [50]:
data2 = pd.read_csv('movies_meta_data.csv')

C:\Users\LEE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### delete unrelated columns & row

In [51]:
data.drop(['Description', 'Success'], axis = 'columns', inplace = True)

In [52]:
data.shape

(839, 31)

In [53]:
data = data.drop(data.index[838])

### column sequence change

In [54]:
data = data[['Rank', 'Title', 'Genre', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Metascore', 'Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western', 'Revenue (Millions)']]

In [55]:
x = data[data.columns[0:28]]
y = data.iloc[:,-1]

### define train data

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=0)

In [57]:
train = pd.concat([x_train,y_train], axis=1)

In [58]:
train

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Metascore,Action,Adventure,...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,Revenue (Millions)
511,589.0,Sunshine,"Adventure,Sci-Fi,Thriller",Danny Boyle,"Cillian Murphy, Rose Byrne, Chris Evans, Miche...",2007.0,107.0,64.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.68
834,995.0,Project X,Comedy,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012.0,88.0,48.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.72
635,738.0,Body of Lies,"Action,Drama,Romance",Ridley Scott,"Leonardo DiCaprio, Russell Crowe, Mark Strong,...",2008.0,128.0,57.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,39.38
253,285.0,Hercules,"Action,Adventure",Brett Ratner,"Dwayne Johnson, John Hurt, Ian McShane, Joseph...",2014.0,98.0,47.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.66
757,889.0,Piranha 3D,"Comedy,Horror,Thriller",Alexandre Aja,"Elisabeth Shue, Jerry O'Connell, Richard Dreyf...",2010.0,88.0,53.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,899.0,The Ugly Truth,"Comedy,Romance",Robert Luketic,"Katherine Heigl, Gerard Butler, Bree Turner, E...",2009.0,96.0,28.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,88.92
192,220.0,Kick-Ass,"Action,Comedy",Matthew Vaughn,"Aaron Taylor-Johnson, Nicolas Cage, Chloë Grac...",2010.0,117.0,66.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48.04
629,731.0,The Internship,Comedy,Shawn Levy,"Vince Vaughn, Owen Wilson, Rose Byrne, Aasif M...",2013.0,119.0,42.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44.67
559,650.0,Vampire Academy,"Action,Comedy,Fantasy",Mark Waters,"Zoey Deutch, Lucy Fry, Danila Kozlovsky, Gabri...",2014.0,104.0,30.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.79
684,802.0,Seven Psychopaths,"Comedy,Crime",Martin McDonagh,"Colin Farrell, Woody Harrelson, Sam Rockwell,C...",2012.0,110.0,66.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.99

## Explore columns

### Genre 별 revenue 구하기

In [61]:
genre_list = ['Action', 'Adventure', 'Aniimation', 'Biography', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Sport', 'Thriller', 'War', 'Western']
genre_list

['Action',
 'Adventure',
 'Aniimation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [62]:
train.loc[train['Action'] == 1, 'Revenue (Millions)'].mean()

129.87448559670784

In [63]:
genre_revenue = []
for i in range(len(genre_list)):
    genre_revenue.append(train.loc[train[genre_list[i]] == 1, 'Revenue (Millions)'].mean())

In [65]:
genre_data = pd.DataFrame(genre_list,columns=['Genre'])
genre_data['genre_revenue'] = genre_revenue

In [66]:
genre_data.describe()

       genre_revenue
count      20.000000
mean       87.888135
std        43.551650
min        37.859506
25%        58.247688
50%        67.386109
75%       127.156803
max       191.991951

In [67]:
genre_weight_list = []
for i in range(len(genre_data)):
    if genre_data['genre_revenue'][i] < 58.247688:
        genre_weight_list.append('poor')
    elif 58.247688 <= genre_data['genre_revenue'][i] <= 67.386109:
        genre_weight_list.append('soso')
    elif 67.386109 < genre_data['genre_revenue'][i] <= 127.156803:
        genre_weight_list.append('hit')
    else:
        genre_weight_list.append('super-hit')

In [68]:
genre_data['genre_weight'] = genre_weight_list

In [69]:
genre_data

         Genre  genre_revenue genre_weight
0       Action     129.874486    super-hit
1    Adventure     157.932258    super-hit
2   Aniimation     191.991951    super-hit
3    Biography      58.595000         soso
4       Comedy      77.167091          hit
5        Crime      64.005856         soso
6        Drama      49.202612         poor
7       Family     126.250909          hit
8      Fantasy     135.362771    super-hit
9      History      52.958000         poor
10      Horror      37.859506         poor
11       Music      58.876667         soso
12     Musical      81.642000          hit
13     Mystery      57.205753         poor
14     Romance      43.440180         poor
15      Sci-Fi     138.841158    super-hit
16       Sport      65.082143         soso
17    Thriller      69.690075          hit
18         War      62.184286         soso
19     Western      99.600000          hit

In [70]:
genre_data.drop(['genre_revenue'], axis = 1, inplace = True)

In [71]:
genre_data.to_csv("genre.csv", columns = ['Genre', 'genre_weight'])

### actors list 추출

In [72]:
a = train['Actors'].str.split(',')

In [73]:
temp = []
for i in range(len(train)):
        for j in range(len(a.iloc[i])):
            temp.append(a.iloc[i][j])

In [74]:
actor = pd.DataFrame(temp)

In [75]:
actor[0].shape

(3015,)

### actor별 revenue 구하기

In [76]:
actor_list = actor[0].unique()

In [77]:
actor_list

array(['Cillian Murphy', ' Rose Byrne', ' Chris Evans', ..., ' Lucy Fry',
       ' Gabriel Byrne', 'Christopher Walken'], dtype=object)

In [78]:
actor_revenue = []
for i in range(len(actor_list)):
    actor_revenue.append(train.loc[train['Actors'].str.contains(actor_list[i]), 'Revenue (Millions)'].mean())

In [79]:
actor_data = pd.DataFrame(actor_list,columns=['Actor'])
actor_data['Actor_revenue'] = actor_revenue

In [80]:
actor_data

                   Actor  Actor_revenue
0         Cillian Murphy      17.295000
1             Rose Byrne      78.015556
2            Chris Evans     274.985000
3          Michelle Yeoh      52.930000
4            Thomas Mann      30.730000
...                  ...            ...
1842    Garrett M. Brown      48.040000
1843        Aasif Mandvi      44.670000
1844            Lucy Fry       7.790000
1845       Gabriel Byrne       7.790000
1846  Christopher Walken      14.990000

[1847 rows x 2 columns]

In [81]:
actor_data['Actor_revenue'].describe()

count    1847.000000
mean       73.670057
std        84.015467
min         0.000000
25%        14.260000
50%        51.478000
75%        99.833333
max       936.630000
Name: Actor_revenue, dtype: float64

In [82]:
weight_list = []
for i in range(len(actor_data)):
    if actor_data['Actor_revenue'][i] < 14.26:
        weight_list.append('poor')
    elif 14.26 <= actor_data['Actor_revenue'][i] <= 51.478:
        weight_list.append('soso')
    elif 51.478 < actor_data['Actor_revenue'][i] <= 99:
        weight_list.append('hit')
    else:
        weight_list.append('super-hit')

In [83]:
actor_data['Actor_weight'] = weight_list

In [84]:
actor_data

                   Actor  Actor_revenue Actor_weight
0         Cillian Murphy      17.295000         soso
1             Rose Byrne      78.015556          hit
2            Chris Evans     274.985000    super-hit
3          Michelle Yeoh      52.930000          hit
4            Thomas Mann      30.730000         soso
...                  ...            ...          ...
1842    Garrett M. Brown      48.040000         soso
1843        Aasif Mandvi      44.670000         soso
1844            Lucy Fry       7.790000         poor
1845       Gabriel Byrne       7.790000         poor
1846  Christopher Walken      14.990000         soso

[1847 rows x 3 columns]

In [85]:
actor_data.drop(['Actor_revenue'], axis = 1, inplace = True)

In [86]:
actor_data.to_csv("actor.csv", columns = ['Actor', 'Actor_weight'])

배우 입력 받고 -> random forest 한거에 가중치줘서 배우에 따른 플러스

### actor predictor

In [36]:
b = x_test['Actors'].str.split(',')

In [43]:
b.iloc[1]

['Daniel Craig', ' Eva Green', ' Judi Dench', ' Jeffrey Wright']

In [37]:
input_actor = b.iloc[1]

In [38]:
input_actor

['Daniel Craig', ' Eva Green', ' Judi Dench', ' Jeffrey Wright']

In [39]:
total = 0
for i in range(len(input_actor)):
    total += actor_data.loc[actor_data['Actor'] == input_actor[i], 'Actor_revenue'].iloc[0]
total /= len(input_actor)
total

98.98958333333333

In [40]:
def actor_predictor(total, predictions):
        if total < 14.26:
            predictions *= 0.8
        elif 14.26 <= total <= 51.478:
            predictions *= 0.9
        elif 51.478 < total <= 99:
            predictions *= 1.1
        else:
            predictions *= 1.2
        return predictions